*.swp
.DS_Store
*.pyc
**/__pycache__/

/.config/configstore/*
/.config/direnv/allow/*
/.config/nvim/plugin/packer_compiled.lua
/.config/configstore/*
/.config/tmuxinator/*
/.config/evcxr/*
/.config/karabiner/automatic_backups/
/.config/htop
/.config/gtk-2.0
/.config/gh

# homebrew
Brewfile.lock.json
homebrew-github-token.sh
