*.swp
.DS_Store
*.pyc
**/__pycache__/

/.config/
!/.config/alacritty
!/.config/git
!/.config/nnn
!/.config/nvim
!/.config/sway
!/.config/wezterm
/.config/nvim/lazy-lock.json
/.config/nvim/lua/.luarc.json
/.config/nnn/sessions/*

# homebrew
Brewfile.lock.json
homebrew-github-token.sh
