*.swp
.DS_Store
*.pyc
**/__pycache__/

/.config/configstore/*
/.config/nvim/plugged/*
/.config/direnv/allow/*
/.config/coc/extensions/node_modules/*
/.config/configstore/*
/.config/tmuxinator/*
/.config/evcxr/*
/.config/karabiner/automatic_backups/
