* {
    /* Base styling for all modules */
    border: none;
    border-radius: 0;
    min-height: 0;
    font-size: 18px;
    font-family: "Berkeley Mono Variable", monospace;
}

window#waybar {
  padding: 0;
  background-color: @theme_bg_color;
  color: @theme_fg_color;
}

#clock,
#cpu,
#custom-gpu,
#pulseaudio,
#temperature,
#bluetooth,
#tray,
#workspaces {
  padding: 0 10px;
}

#bluetooth {
  background-color: #4682b4;
  color: #fff;
}

#workspaces button {
  background-color: transparent;
  color: @theme_fg_color;
  border-radius: 0;
  margin: 3px;
}


#workspaces button.active {
  background-color: @theme_selected_bg_color;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
  padding-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
  padding-right: 0;
}


#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#custom-gpu {
  background-color: #76b900;
  color: white;
}

#cpu {
  background-color: #000;
  color: white;
}
